<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>

  <appSettings>
  </appSettings>

  <system.serviceModel>

    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IVFSService" />
        <!-- clientBaseAddress="http://localhost:8000/VirtualFileSystem/Client/" -->
        <!--
        <binding name="WSDualHttpBinding_IVFSService"
                 clientBaseAddress="http://localhost:8733/Design_Time_Addresses/VirtualFileSystem.Service.Model/VFSClient/" />
        -->
      </wsDualHttpBinding>
    </bindings>

    <client>
      <!-- endpoint address="http://localhost:8000/VirtualFileSystem/Service/" -->
      <endpoint address="http://localhost:8733/Design_Time_Addresses/VirtualFileSystem.Service.Model/VFSService/"
            binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IVFSService"
            contract="VFSServiceReference.IVFSService" name="WSDualHttpBinding_IVFSService">
        <identity>
          <!--
          <servicePrincipalName value="host/COMP-NAME"/>
          -->
          <!--
          <servicePrincipalName value="host/localhost"/>
          -->
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>

</configuration>
